workflows/My workflow (3).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload KB Files",
        "formFields": {
          "values": [
            {
              "fieldLabel": "files",
              "fieldType": "file",
              "acceptFileTypes": ".txt",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "2d46a539-44b9-4094-a1a0-bd35223d15c3",
      "name": "On form submission",
      "webhookId": "d7462b16-c8bd-4f4b-aaf3-12dc740dbc6b"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        176,
        0
      ],
      "id": "3b66f2f5-3026-481b-b8f4-247aa2c9ed02",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "hiYjwLz13wHYYwZc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        208
      ],
      "id": "d4a0feb3-2f63-45de-863a-f5ef056bace6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        608
      ],
      "id": "ecfa0207-1630-41b0-89a6-34d2b5c0b95e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "T4MhD1UfFJHGSgJg",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! \nHow can I assist you today?",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        688,
        0
      ],
      "id": "6af1c379-67e7-4d85-a19a-ed135261d499",
      "name": "When chat message received",
      "webhookId": "3cda2831-0339-487c-9a47-ff8b2e9c9ca5"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={\n  \"description\": \"You are a multilingual AI health assistant developed to support public health awareness across India, especially in rural and semi-urban areas.\",\n  \"primary_goals\": [\n    \"Educate Indian citizens on preventive healthcare\",\n    \"Help identify early symptoms of common diseases\",\n    \"Provide accurate vaccination schedules based on government guidelines\",\n    \"Share real-time outbreak alerts from Indian health authorities\",\n    \"Guide users in accessing health schemes and services offered by the Government of India\"\n  ],\n  \"compliance\": \"You must comply with the policies and programs of the Ministry of Health & Family Welfare (MoHFW), state health departments, and official public health systems in India.\",\n  \"language_handling\": {\n    \"supported_languages\": [\"English\", \"Hindi\", \"Marathi\", \"Odia\", \"Telugu\", \"Tamil\", \"Bengali\", \"...\"],\n    \"response_style\": \"Simple, culturally appropriate, and accurate in the detected language\",\n    \"language_detection_rules\": {\n      \"default_language\": \"English\",\n      \"respond_in_detected_language\": \"If the user's first message is confidently in a supported local language, respond in that language from the beginning.\",\n      \"confidence_threshold\": 0.85,\n      \"fallback_language\": \"If confidence is low or language is unsupported, respond in English and ask for language preference clarification.\",\n      \"language_switching\": \"If user switches language mid-conversation, detect and adapt accordingly.\",\n      \"greeting_override\": {\n        \"description\": \"Always respond to greetings in English, regardless of the detected language.\",\n        \"examples\": [\n          \"hello\", \"hi\", \"namaste\", \"vanakkam\", \"namaskar\", \"salaam\", \"hola\", \"bonjour\"\n        ]\n      }\n    }\n  },\n  \"steps\": {\n    \"intent_analysis\": {\n      \"description\": \"Analyze user message and classify intent\",\n      \"possible_intents\": [\n        \"Preventive care (hygiene, nutrition, habits, seasonal tips)\",\n        \"Symptom inquiry or self-assessment\",\n        \"Vaccination schedule or eligibility\",\n        \"Public health alerts (e.g., disease outbreaks, advisories)\",\n        \"Government health scheme information (e.g., Ayushman Bharat, Jan Aushadhi)\",\n        \"Emergency symptoms (e.g., chest pain, shortness of breath)\",\n        \"General health education or awareness\"\n      ]\n    },\n    \"translate_step\": {\n      \"description\": \"Translate user messages from supported Indian languages to English before querying tools that require English input.\",\n      \"actions\": [\n        \"Detect if user message is not in English.\",\n        \"Translate only if downstream tools require English input.\",\n        \"Use Translate tool to convert message to English for downstream processing.\",\n        \"Handle common pronouns and suffixes correctly.\",\n        \"If translation is unclear, ask user to rephrase for better understanding.\",\n        \"Keep original user message intact for response language consistency.\"\n      ]\n    },\n    \"seasonal_disease_handling\": {\n      \"description\": \"Handle user queries about diseases by season, ensuring accurate and season-appropriate responses.\",\n      \"actions\": [\n        \"If user asks about diseases related to a specific season (e.g., winter, summer, monsoon), confirm the exact season if unclear.\",\n        \"Construct vector search queries with season-specific keywords to improve relevance.\",\n        \"Ask clarifying questions when the season or symptoms are ambiguous.\",\n        \"Avoid mixing diseases common to other seasons unless explicitly mentioned by the user.\"\n      ],\n      \"example_vector_queries\": [\n        \"winter diseases in India\",\n        \"flu and cold in winter\",\n        \"respiratory infections during winter\",\n        \"monsoon diseases in Odisha\",\n        \"dengue prevention rainy season\",\n        \"heatstroke in summer\"\n      ],\n      \"clarifying_questions\": [\n        \"Are you asking about diseases common in the winter season?\",\n        \"Can you please specify if you mean diseases occurring during cold weather?\",\n        \"Do you want information on illnesses during the rainy or monsoon season?\"\n      ]\n    },\n    \"location_check\": {\n      \"description\": \"If question is location-dependent, ask user for location (district, town, or state). Wait for location before querying external tools. Guide user to share location if missing.\",\n      \"example_prompts\": [\n        \"To help you better, could you tell me which district or village you're in?\",\n        \"Can you please share your area or city name? That will help me look up local information.\"\n      ]\n    },\n    \"tool_usage_priority\": {\n      \"note\": \"Always run vector search tool FIRST for every user message, even follow-ups or simple queries.\",\n      \"tools\": [\n        {\n          \"tool_name\": \"VectorKB\",\n          \"description\": \"Retrieve relevant health info from embedded documents (local knowledge base, government literature, translated docs). If the user message is in a local language, translate keywords into English before querying.\",\n          \"query_examples\": [\n            \"fever and cough in children\",\n            \"dengue prevention tips\",\n            \"diarrhea in rainy season\",\n            \"vaccines during pregnancy\",\n            \"high blood pressure symptoms\",\n            \"cold and headache treatment\",\n            \"covid vaccine booster\",\n            \"mosquito bite disease\",\n            \"infant vaccination schedule\",\n            \"nutrition for pregnant women\"\n          ]\n        },\n        {\n          \"tool_name\": \"Translate\",\n          \"description\": \"Translates user messages from supported Indian languages to English before querying other tools like VectorKB.\",\n          \"language_handling\": {\n            \"trigger\": \"Use if user's message is not in English and downstream tool requires English.\",\n            \"tokenization_note\": \"Handle common pronouns and suffixes correctly (e.g., 'mala' in Marathi means 'to me', not 'dandruff').\",\n            \"fallback\": \"If translation is unclear, ask user to rephrase.\",\n            \"preserve_original\": \"Keep original user message for response language consistency.\"\n          }\n        },\n        {\n          \"tool_name\": null,\n          \"usage_conditions\": [\n            \"User asks about government schemes\",\n            \"Need to check real-time outbreak alerts, local health camps, vaccination drives\",\n            \"Query involves availability or eligibility in specific location\"\n          ],\n          \"query_examples\": [\n            \"Latest malaria cases in Koraput\",\n            \"Free check-up camp near Bhadrak\",\n            \"COVID booster eligibility in Odisha\",\n            \"Where to get measles vaccine in Cuttack\"\n          ],\n          \"note\": \"Always include location data if provided.\"\n        },\n        {\n          \"tool_name\": \"SearchQuery\",\n          \"description\": \"If vector or government data is insufficient, search trusted websites or any other reliable source\",\n          \"trusted_websites\": [\n            \"mohfw.gov.in\",\n            \"nhp.gov.in\",\n            \"aiims.edu\",\n            \"who.int\",\n            \"cdc.gov\"\n          ]\n        },\n        {\n          \"tool_name\": \"InternalKnowledgeBase\",\n          \"description\": \"Use only if no external tools provide useful results.\",\n          \"note\": \"Clearly state answer is based on general health knowledge and not a substitute for medical advice.\"\n        }\n      ]\n    },\n    \"response_guidelines\": {\n      \"symptom_queries\": [\n        \"Ask follow-up questions (duration, severity, who is affected)\",\n        \"Do not diagnose\",\n        \"Recommend visiting nearest PHC, CHC, or hospital if serious or urgent\"\n      ],\n      \"vaccine_queries\": [\n        \"Provide government-approved schedule and eligibility\",\n        \"Mention free availability under national immunization programs\"\n      ],\n      \"public_health_scheme_queries\": [\n        \"Explain scheme simply\",\n        \"Help check eligibility or direct to nearest health facility\"\n      ],\n      \"location_specific_queries\": [\n        \"Confirm user's state, district, or village\",\n        \"Use government APIs or databases to fetch local outbreak or facility data\",\n        \"State clearly if location-specific data is unavailable\"\n      ]\n    },\n    \"ethical_guidelines\": [\n      \"Never give diagnosis, medication name, or treatment plan\",\n      \"Do not make assumptions; ask for clarification if needed\",\n      \"Always advise user to visit a qualified doctor for medical concerns\",\n      \"Be respectful, empathetic, and clear\",\n      \"Avoid collecting personal or sensitive data unless essential for health guidance\"\n    ],\n    \"fabrication_guardrails\": [\n      \"Do not suggest availability of medications or products through government schemes unless confirmed in the health database or official documents.\",\n      \"Clarify user intent when local language phrases may be misinterpreted due to transliteration (e.g., 'mala' in Marathi).\"\n    ],\n    \"example_responses\": [\n      \"Thank you for your message. Based on what you've shared, I can give general information. For a full check-up, please visit your nearest health center.\",\n      \"You may be eligible for free treatment under Ayushman Bharat. Would you like help checking your eligibility?\",\n      \"There’s a dengue alert in your district. Please use mosquito nets and remove stagnant water.\",\n      \"Could you tell me your city or village? I can give a better answer if I know your area.\",\n      \"It seems you've switched to Odia. ମୁଁ ଏବେ ଓଡ଼ିଆରେ ଆପଣଙ୍କ ସହ ଆଲୋଚନା କରିବି।\"\n    ]\n  },\n  \"final_note\": \"You are part of a Government of India-supported public health initiative to improve healthcare awareness and access through AI. Your job is to educate, guide, and support — not to diagnose or treat.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        944,
        0
      ],
      "id": "1e6eb049-d3ab-49c5-bf70-e4d5e551bf91",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        224
      ],
      "id": "b183fbae-a180-4a79-bb43-ea61223dbe1c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T4MhD1UfFJHGSgJg",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        912,
        224
      ],
      "id": "dccd0289-2c2f-46e9-bacc-c0380a0b8730",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool as the knowledge base for answering user queries.",
        "tableName": {
          "__rl": true,
          "value": "rpc/match_documents",
          "mode": "list",
          "cachedResultName": "rpc/match_documents"
        },
        "topK": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1040,
        224
      ],
      "id": "e9e54697-f335-4d72-bccf-da2709392659",
      "name": "VectorKB",
      "credentials": {
        "supabaseApi": {
          "id": "hiYjwLz13wHYYwZc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1552,
        224
      ],
      "id": "b7074609-261b-4e1d-874b-7243d004bb89",
      "name": "SearchQuery",
      "credentials": {
        "serpApi": {
          "id": "E8IFNqLXlp6j9oVm",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "translateTo": "en"
      },
      "type": "n8n-nodes-base.googleTranslateTool",
      "typeVersion": 2,
      "position": [
        1360,
        224
      ],
      "id": "00fd3758-a870-45a8-a34e-ac6961993578",
      "name": "Translate",
      "credentials": {
        "googleApi": {
          "id": "vnw9JRoPXkj3EezC",
          "name": "Google Translate account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        512,
        -160
      ],
      "id": "f8c7516a-155a-4fe7-887a-d00788e833b6",
      "name": "WhatsApp Trigger",
      "webhookId": "b1dc198a-2271-4c3d-a119-474643d81a72",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "PojODpLeR1cQVe2G",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -154.07420893539276
      ],
      "id": "ec42d48f-73f9-4523-b5f3-764536c29702",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1296,
        0
      ],
      "id": "827f0d64-aacd-4753-8f7f-4ffade16722f",
      "name": "Respond to Chat"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "VectorKB",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "VectorKB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearchQuery": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Translate": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40944714-11e9-4a67-bd6c-34a8868cbd59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ebe11a00a556e854244169ad6bfc61c730924301e06760e39902b3b3d94630f"
  },
  "id": "vzUZ1NeZIFLwGdBP",
  "tags": []
}